<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mpls Cop Watch</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400' rel='stylesheet' type='text/css'>
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">

    <!-- Custom CSS -->
    <!--<link href="css/simple-sidebar.css" rel="stylesheet">-->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper" class="toggled">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            {% block content %}
            {% endblock content %}
            </div>
        </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<script>
    $('togglebox').click(function() {
        var myVar = $(this).attr("name");
        var tog = document.getElementById(myVar);

        $(tog).toggleClass("hidden");
    });
</script>

</body>

</html>
